{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GenChal 2022: Feedback Comment Generation for Writing Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Feedback comment generation is a task where, given an input text, a system generates hints or explanatory notes that help language learners improve their writing skills."/>

    <meta property="og:site_name" content="GenChal 2022: Feedback Comment Generation for Writing Learning"/>
    <meta property="og:title" content="GenChal 2022: Feedback Comment Generation for Writing Learning"/>
    <meta property="og:description" content="Feedback comment generation is a task where, given an input text, a system generates hints or explanatory notes that help language learners improve their writing skills."/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:url" content="https://fcg.sharedtask.org/"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://fcg.sharedtask.org/static/fcg.png">

    <!-- Loading Bootstrap -->
    <link href="/static/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI Pro -->
    <link href="/static/css/flat-ui.css" rel="stylesheet">

    <!-- Loading Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
            <a class="navbar-brand" href="/">GenChal 2022: FCG</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav mr-auto">
                <li><a href="/task">Task Description</a></li>
                {% if user.is_authenticated %}
                  <li><a href="/account">Logged in as: {{ user.username }}</a></li>
                  <li><a href="/logout">Log out</a></li>
                {% else %}
                  <li><a href="/login">Log in</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div> <!-- /row -->

    <h1>GenChal 2022: Feedback Comment Generation for Writing Learning</h1>
    </div>

    <!-- for margin -->
    <div class="container">
      <div class="row m-5">

      </div>
      <div class="row m-5">

      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          GenChal 2022: Feedback Comment Generation &copy; 2020-2022 GenChal Organizers
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Bootstrap 4 requires Popper.js -->
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>

    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>

    <script src="/static/scripts/flat-ui.js"></script>

  </body>
</html>
