<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GenChal 2022: Feedback Comment Generation for Writing Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Feedback comment generation is a task where, given an input text, a system generates hints or explanatory notes that help language learners improve their writing skills."/>

    <meta property="og:site_name" content="GenChal 2022: Feedback Comment Generation for Writing Learning"/>
    <meta property="og:title" content="GenChal 2022: Feedback Comment Generation for Writing Learning"/>
    <meta property="og:description" content="Feedback comment generation is a task where, given an input text, a system generates hints or explanatory notes that help language learners improve their writing skills."/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:url" content="https://fcg.sharedtask.org/"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://fcg.sharedtask.org/static/fcg.png">

    <!-- Loading Bootstrap -->
    <link href="/fcg_genchal/static/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI Pro -->
    <link href="/fcg_genchal/static/css/flat-ui.css" rel="stylesheet">

    <!-- Loading Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
            <a class="navbar-brand" href="/">GenChal 2022: FCG</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav mr-auto">
                <li><a href="/task">Task Description</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div> <!-- /row -->

    <div>
      <h1>GenChal 2022: Feedback Comment Generation for Writing Learning</h1>
    </div>

    <h2>Task overview</h2>
    <p><i>Feedback comment generation</i> is a task where, given an input text, a system generates hints or explanatory notes that help language learners improve their writing skills. </p>
  
    <p>For more details of the task, refer to <a href="/fcg_genchal/task.html">the task definition page</a> and our <a href="https://aclanthology.org/2021.inlg-1.35/">task proposal paper</a>.</p>
  
    <p><s>Please <a href="https://fcg.sharedtask.org/register">register from here</a> in order to participate in the task. Since we'll be evaluating the submissions manually, we'll limit the total number of participating systems at around 10.</s></p>
    <p>We closed the registration because we reached full capacity. Thank you for your interests!</p>
  
    <p>The evaluation results are out! They can be viewed on <a href="{% url 'results' %}">the results page</a>.</p>
  
    <h2>Important dates</h2>
    <ul>
      <li>28 January 2022: Kick-off and training data release</li>
      <li>2 May 2022: Test data release</li>
      <li>9 May 2022: Generation result submission</li>
      <li>25 June 2022: Evaluation result notification</li>
      <li>Paper submission (following INLG 2023)</li>
    </ul>
  
    <h2>Organizers</h2>
  
    <ul>
        <li>Ryo Nagata (Konan University / JST, PRESTO)</li>
        <li>Masato Hagiwara (Earth Species Project / Octanove Labs)</li>
        <li>Hanawa Kazuaki (RIKEN / Tohoku University)</li>
        <li>Masato Mita (RIKEN / Tohoku University)</li>
    </ul>
  
    <h2>Links</h2>
  
    <ul>
      <li><a href="{% url 'links' %}">Links to systems</a></li>
      <li><a href="{% url 'data' %}">Data release</a></li>
    </ul>
  
    <h2>Contact</h2>
  
    <p>For general inquiries, please contact us at <a href="mailto: fcg-sharedtask@googlegroups.com">fcg-sharedtask@googlegroups.com</a>.</p>

  </div>

    <!-- for margin -->
    <div class="container">
      <div class="row m-5">

      </div>
      <div class="row m-5">

      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          GenChal 2022: Feedback Comment Generation &copy; 2020-2022 GenChal Organizers
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Bootstrap 4 requires Popper.js -->
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>

    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>

    <script src="/fcg_genchal/static/scripts/flat-ui.js"></script>

  </body>
</html>
