{% extends "base.html" %}

{% block content %}

<div>
    <h1>Paper submission</h1>
    <div class="row">
        <p>{{ message }}</p>
    </div>

    <h2>Your submissions</h2>
    <div class="row">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Submission datetime</th>
            </tr>
            {% for paper in papers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ paper.submitted_at }}</td>
            </tr>
            {% endfor %}
        </table>
        {% if papers %}
        <p><a href="{% url 'paper_latest' %}">View the latest submission</a></p>
        {% endif %}
    </div>

    <h2>Make a new submission</h2>
    {% if is_accepting_submissions %}
    <div>
        <div class="col4">
            <p>You can make as many submissions as you want until the deadline. The last submission will be used as a camera-ready version. Please upload your paper in a PDF format.</p>
        </div>
    </div>
    <div class="row">
        <div class="col4">
            <form action="{% url 'paper' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="file">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block"/>
                </form>
            </form>
        </div>
    </div>
    {% else %}
    <div>
        <div class="col4">
            <p>Submission is now closed.</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
