{% extends "base.html" %}

{% block content %}

<div>
    <h1>Download</h1>
    <div class="row">
        <div class="col-8">
            <form action="{% url 'download' %}" method="POST">
                {% csrf_token %}
                <p>Click the button below to download the train/dev data.</p>
                <div class="form-group">
                    <input type="submit" name="train_dev" class="btn btn-primary btn-lg btn-block" value="Download"/>
                </div>

                <p>Click the button below to download the test data.</p>
                <div class="form-group">
                    <input type="submit" name="test" class="btn btn-primary btn-lg btn-block" value="Download test data"/>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
