{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <h1>Links to systems</h1>
</div>

<ul>
    <li>
        <div>GU</div>
        <div><a href="https://github.com/shabnam-b/GU-FCG-2022">https://github.com/shabnam-b/GU-FCG-2022</a></div>
    </li>

    <li>
        <div>shotakoyama</div>
        <div><a href="https://github.com/shotakoyama/fcgtools">https://github.com/shotakoyama/fcgtools</a></div>
    </li>

    <li>
        <div>nigula</div>
        <div><a href="https://huggingface.co/SkolkovoInstitute/GenChal_2022_nigula">https://huggingface.co/SkolkovoInstitute/GenChal_2022_nigula</a></div>
    </li>

    <li>
        <div>TMUUED</div>
        <div><a href="https://github.com/NOIRUED/T5_FCG">https://github.com/NOIRUED/T5_FCG</a></div>
    </li>

    <li>
        <div>Official baseline system</div>
        <div><a href="https://github.com/k-hanawa/fcg_genchal2022_baseline">https://github.com/k-hanawa/fcg_genchal2022_baseline</a></div>
    </li>

</ul>

{% endblock %}
